<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <table st-table="mc.users" st-pipe="index" class="table table-bordered">
    <thead>
      <tr>
        <th st-sort="email">Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>{{user.email}}</td>
        <td><a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
    </tbody>
  </table>
</div>